# Nestjs specific
dist/
/node_modules
/build
/tmp
node_modules/
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# Turbo Pack
.turbo

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# generated types
.astro/
.vscode/

