---
import { Icon } from "astro-icon/components";
import type { SvgTextProps } from "@/schemas/components";

const {
	text,
	svg,
	class: className = "",
	id: idName = "",
} = Astro.props as SvgTextProps;
---

<div class=`logo ${className}` id={idName}>
  <Icon name={svg} />
  <p>{text}</p>
</div>

<style>
 .logo {
  display: flex;
  align-items: center;
  gap: 1em;

  & p {
    width: 100%;
    &:hover {
      cursor: default;
    } 
  }
  /*adapt to any location by simply placing the class variant ↓ */
  &.svgTextFooter {
    gap: 0.1em;
    max-width: 6em;
    flex-direction: column;
    margin: 0 auto;
  }
 }
[data-icon="logo-pye"] {
  color: #1179C6;
  width: 32px; /*Original width: 131px */
  height: 32px; /*Original height: 139px */
}
</style>
