---
import type { ButtonProps } from "@/schemas/components";

const {
	title,
	class: className = "",
	id: idName = "",
} = Astro.props as ButtonProps;
---

<button class=`btn ${className}` id={idName}> 
  <slot name="before-title" />
  {title}
  <slot name="after-title" />
</button>


<style>
.btn {
  display: inherit;
  align-items: inherit;
  margin: 0 auto;
    
  &.btn-login {
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid #1179C6;
    color: #1179C6;
    background-color: transparent;
    transition: 0.15s;

    &:hover {
      color: var(--text-color);
      background-color: var(--principal-color);
      cursor: pointer;
    }
  }

  /*adapt to any location by simply placing the class variant ↓ */

  &#theme-toggle  {
    border: none;
    background: none;
    color: var(--text-color);
    transition: 0.1s ease;
    padding: 0.4em;
    border-radius: 0.5em;

    &:hover {
      background-color: var(--hover-button-theme);
      cursor: pointer;
    }
  }

  &.btnFooter {
    background-color: transparent;
    border: 2px solid var(--principal-color);
    color: #1179C6;
    border-radius: 0.5em;
    padding: 0.9em 5em;
    transition: 0.15s;

    &:hover {
      color: var(--text-color);
      background-color: var(--principal-color);
      cursor: pointer;
    }
  }

}
</style>
