---
import type { NavLinkProps } from "@/schemas/components";

const {
	title,
	route,
	class: className = "",
	id: idName = "",
} = Astro.props as NavLinkProps;
const isHttp = route?.startsWith("http") ?? false;
---

<a href={isHttp ? route : `/${route}`}
   class=`nav ${className}`
   id={idName}
   target={isHttp ? "_blank" : undefined}
   >
   <slot name="after-title" />
    {title}
   <slot name="before-title" />
</a>

<style> 
.nav {
  text-decoration: none;
  color: var(--text-color)
  transition: 0.1s ease;

  &:hover {
    cursor: pointer;
    color: var(--principal-color);
  } 

  /*adapt to any location by simply placing the class variant ↓ */

  &.btn-login {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid #1179C6;
    color: #1179C6;
    background-color: transparent;
    transition: 0.1s;

    &:hover {
      color: var(--text-color);
      background-color: var(--principal-color);
      cursor: pointer;
    }
  }

  &.btn-login-page {
    display: inherit;
    align-items: center;
    font-size: .9em;
    gap: 1em;
    justify-content: center;
    width: 24em;
    margin: 0 auto;
    padding: .9em 3em;
    border-radius: 1em;
    color: #fff;
    transition: 0.15s;
    background: #000; 
    border: 1px solid #3D3D3D;

    &:hover {
      background-color:oklch(0.6 0.2 270 / 21.68%) ;
      border-color: oklch(0.6 0.2 270 / 57.67%);
      box-shadow: 1px 5px 16px -2px rgba(84,113,245,0.51);
      -webkit-box-shadow: 1px 5px 16px -2px rgba(84,113,245,0.51);
      -moz-box-shadow: 1px 5px 16px -2px rgba(84,113,245,0.51);
      cursor: pointer;
    }
  }

}
</style>
