---
import type { NavLinkProps } from "@/schemas/components";

const {
	title,
	route,
	class: className = "",
	id: idName = "",
} = Astro.props as NavLinkProps;
const isHttp = route?.startsWith("http") ?? false;
---

<a href={isHttp ? route : `/${route}`}
   class=`nav ${className}`
   id={idName}
   target={isHttp ? "_blank" : undefined}
   >{title}</a>

<style> 
.nav {
  text-decoration: none;
  color: var(--text-color)
  transition: 0.1s ease;

  &:hover {
    cursor: pointer;
    color: var(--principal-color);
  }

  /*adapt to any location by simply placing the class variant ↓ */

}
</style>
