---
import type { TitleProps } from "@/schemas/components";

const {
	title,
	class: className = "",
	id: idName = "",
} = Astro.props as TitleProps;
---

<h2 class=`title ${className}` id={idName}>{title}</h2>


<style>
  .title {
    margin: 0;
    font-size: 2em;
    color: var(--color-text);
    
  /*adapt to any location by simply placing the class variant ↓ */
    &.title-login {
      margin-top: -2em;
      font-size: 1.5em;
      color: #fff;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.72);
    }
  }
</style>
